header {
  background-color: rgba(0, 0, 128, 0.8);
  padding-top: 0px;
  color: rgb(57, 255, 20);
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0px;
}

header h1 {
  margin-top: 0px;
}

body {
  background-color: darkorange;
}

.display {
  display: block;
  width: 780px;
  height: 400px;
  text-align: center;


}

#project_1 {
  background-image: url(Project_Pictures/Mancala.png);
  background-size: contain;
}

#project_2 {
  background-image: url(Project_Pictures/Starcraft.png);
  background-size: contain;
}

#project_3 {
  background-image: url(Project_Pictures/Hiking.png);
  background-size: contain;
}

#project_4 {
  background-image: url(Project_Pictures/Learning.png);
  background-size: contain;
}

.aside {
  position: relative;
  left: 100px;
  height: 150px;
  width: 400px;

}

#top {
  margin-top: 120px;
  margin-bottom: 50px;
}

.aTags  {
  color: orange;
}

@media only screen and (max-width: 750px) {

  body {

  }

  #project_1 {
    background-image: url();
    background-size: contain;
  }

  #project_2 {
    background-image: url();
    background-size: contain;
  }

  #project_3 {
    background-image: url();
    background-size: contain;
  }

  #project_4 {
    background-image: url();
    background-size: contain;
  }

  .aside {
    font-size: 30px;
    text-align: center;
  }

  .funnyAsside {
    border-top: 100px;
  }





}
